<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <script src="{{url_for('static', filename='opencv.js')}}"></script>
    <script src="{{url_for('static', filename='Stats.js')}}"></script>
    <script src="{{url_for('static', filename='scriptdetect.js')}}"></script>
    <title>Detect Color</title>
</head>
<body>
    <div id="container" style="
        display: flex;
        align-items: center;
        flex-direction: column;
    ">
        <video id="video-detect" hidden></video>
        <canvas id="outCanvas" width="90%"></canvas>
        <!-- <select id="select-color" style="
            font-size: 25px;
            margin: 5px;
            padding: 2px 1px;
        ">
            <option disabled selected hidden>เลือกสีที่ต้องการ</option>
            <option value="red">RED</option>
            <option value="green">GREEN</option>
            <option value="orange">ORANGE</option>
            <option value="yellow">YELLOW</option>
        </select> -->
        <div style="display: flex; flex-direction: row; padding: 10px 0px;">
            <label style="border-right: 2px solid red; padding-right: 5px;">Low : <input type="color" id="colorPickerLow"></label>
            <label style="border-left: 2px solid red; padding-left: 5px;"><input type="color" id="colorPickerHigh"> : High</label>
        </div>
        <div id="bt-switCamera">
            <button id="swichCamera">กลับกล้อง</button>
        </div>
    </div>
</body>
</html>